
.top-text {
  text-align: center;
  font-size: 90px;
  color: red;
  height: 300px;
  line-height: 300px;
}

.top {
  max-width: 1000vw;
  height: 1000px;
  margin: 1px 1px;
  background-image: url("https://school.oohara.jp/masa/top.jpg");
  background-size: cover;
  text-align: center;
  position: relative;
  background-attachment: fixed;
  background-position: center;
}

.garally {
  display: block;
  text-align: center;
  font-size: 30px;
  color: red;
  margin: 100px 100px;
}

.top1 {
  height: 1000px;
  background-image: url("https://school.oohara.jp/masa/top1.jpg");
  background-size: cover;
  text-align: center;
  position: relative;
  background-attachment: fixed;
  background-position: center;
}

.food{
  display: block;
  text-align: center;
  font-size: 30px;
  color: red;
  margin: 100px 100px;
}

.food-img {
  height: 1000px;
  background-image: url("https://school.oohara.jp/masa/food2.jpg");
  background-size: cover;
  text-align: center;
  position: relative;
  background-attachment: fixed;
  background-position: center;
}



/* --------------------- */
@media(min-width:700px){
.top-text {
  text-align: center;
  font-size: 90px;
  color: red;
  height: 300px;
  line-height: 300px;
}

.top {
  height: 1000px;
  margin: 1px 1px;
  background-image: url("https://school.oohara.jp/masa/top.jpg");
  background-size: cover;
  text-align: center;
  position: relative;
  background-attachment: fixed;
  background-position: center;
}

.garally {
  display: block;
  text-align: center;
  font-size: 90px;
  color: red;
  margin: 100px 100px;
}

.top1 {
  height: 1000px;
  background-image: url("https://school.oohara.jp/masa/top1.jpg");
  background-size: cover;
  text-align: center;
  position: relative;
  background-attachment: fixed;
  background-position: center;
}

.food{
  display: block;
  text-align: center;
  font-size: 90px;
  color: red;
  margin: 100px 100px;
}

.food-img {
  height: 1000px;
  background-image: url("https://school.oohara.jp/masa/food2.jpg");
  background-size: cover;
  text-align: center;
  position: relative;
  background-attachment: fixed;
  background-position: center;
}
}

/* ----------------------------- */
@media(min-width:800px){
.top-text {
  text-align: center;
  font-size: 90px;
  color: red;
  height: 300px;
  line-height: 300px;
}

.top {
  height: 1000px;
  margin: 1px 1px;
  background-image: url("https://school.oohara.jp/masa/top.jpg");
  background-size: cover;
  text-align: center;
  position: relative;
  background-attachment: fixed;
  background-position: center;
}

.garally {
  display: block;
  text-align: center;
  font-size: 90px;
  color: red;
  margin: 100px 100px;
}

.top1 {
  height: 1000px;
  background-image: url("https://school.oohara.jp/masa/top1.jpg");
  background-size: cover;
  text-align: center;
  position: relative;
  background-attachment: fixed;
  background-position: center;
}

.food{
  display: block;
  text-align: center;
  font-size: 90px;
  color: red;
  margin: 100px 100px;
}

.food-img {
  height: 1000px;
  background-image: url("https://school.oohara.jp/masa/food2.jpg");
  background-size: cover;
  text-align: center;
  position: relative;
  background-attachment: fixed;
  background-position: center;
}
}
