<!DOCTYPE html>
<html>
  <head>
    <title>GMona</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <div class="header-menu">
      <ul>
        <a href="https://gmona.herokuapp.com" class="header-top">G-mona</a>
        <li class="header-garally"><a href="https://gmona.herokuapp.com/web/garally">Garally</a></li>
        <li class="header-food"><a href="https://gmona.herokuapp.com/web/food">FoodMenu</a></li>
        <li class="header-contact"><a href="https://gmona.herokuapp.com/web/contact">Contact</a></li>
      </ul>
    </div>
  </header>

    <%= yield %>
  </body>
</html>
